* {
  padding: 0;
  margin: 0;
  font-family: "DM Sans", sans-serif;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-track {
  background-color: #f9f9f7;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.contact {
  width: 100vw;
  overflow: hidden;
  height: 3rem;
  background: #474747;
  display: flex;
  gap: 25px;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
.contact span {
  color: #f9f9f7;

  font-weight: 400;
  line-height: 24px;
  text-align: center;
  padding-left: 0px;
  padding-top: 6px;

  width: 134px;
  font-size: 13px;
}
.line1contact {
  margin-left: 60px;
  cursor: pointer;
}
.line1contact i {
  margin: 10px;
  color: #f9f9f7;
  margin-right: 0px;
}
.social {
  margin-right: 75px;
}
.social i {
  color: #ffffff;
  border: none;
  background-color: #f9f9f71f;
  border-radius: 50%;
  padding: 8px;

  cursor: pointer;
  text-align: center;
}
.logo {
  cursor: pointer;
}
.nav {
  background: #f9f9f7;
  height: 100px;
  width: 100vw;

  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 60px;
}
.menu li {
  font-weight: 500;
  font-size: 16px;
  margin-left: 90px;
}
.menu {
  margin-left: -7rem;
}
.button button {
  border: 1.5px solid #2c2f24;
  background: transparent;
  border-radius: 40px;
  padding: 12px 24px 12px 24px;
  margin-right: 2rem;
  cursor: pointer;
  transition: all 0.2s linear;
}

.button :hover {
  background: #ad343e;
  color: #f9f9f7;
}

.menu ul {
  display: flex;
}
#home {
  border-radius: 40px;
  background: rgb(228, 228, 228);
}
.menu li {
  cursor: pointer;
  list-style: none;
  color: #2c2f24;
  border-radius: 40px;
  padding: 4px 6px;
  border: none;
  margin: 0px 10px;
  transition: all 0.2s linear;
}
.menu ul :hover {
  border-radius: 40px;

  border: none;
  background: rgb(228, 228, 228);
}
a {
  margin: 0px 20px;
  text-decoration: none;
  transition: all 0.2s linear;
  padding: 0;
}
.menu ul a :hover {
  border-radius: 40px;

  border: none;
  background: rgb(228, 228, 228);
}
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: #f9f9f7;
  background: #f9f9f7;
  overflow-x: hidden;
  transition: 0.5s;
  height: 100vh;
}

.overlay-content {
  margin-top: 80px;
  width: 100%;
  padding: 0px 20px;
  height: 100vh;
}
.overlay-content li {
  list-style: none;
}
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  background: rgb(228, 228, 228);
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}
.nav span {
  display: none;
}
.section1 {
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  background-image: url(assets/section1img.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  position: relative;
}

.content h1 {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 5rem;
  line-height: 85px;
  width: 70%;
  text-align: center;
}
.content {
  height: 50%;
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0px 100px;
}
.content p {
  width: 69%;
  padding: 20px;
  text-align: center;
}
.section1 .btns {
  width: 70%;
  text-align: center;
}

.section1 button {
  border: 1.5px solid #2c2f24;
  background: #ad343e;
  color: #f9f9f7;
  border-radius: 40px;
  padding: 12px 24px 12px 24px;
  text-align: center;
  cursor: pointer;
}

.section1 .btn2 {
  font-weight: 600;
  color: #2c2f24;
  border: 1.5px solid #2c2f24;
  background: transparent;
  border-radius: 40px;
  padding: 12px 24px 12px 24px;
  transition: all 0.2s linear;
  cursor: pointer;
}

.btns .btnclass {
  background: #ad343e;
  color: #f9f9f7;
  border-radius: 40px;
  padding: 10px 0px;
  text-align: center;
  cursor: pointer;
}
.btns .btnclass :hover {
  background: #ad343e;
}
.btns .menuclass :hover {
  background: #ad343e;
  color: #ffffff;
}
.section2 {
  width: 100vw;
  height: 100vh;
}

.section2 h1 {
  font-family: "Playfair Display", serif;
  font-weight: 500;
  text-align: center;
  font-size: 55px;
  padding-top: 70px;
}
.section2 .boxeses {
  display: flex;
  gap: 20px;
  margin: auto;
}
.section2 .box {
  border: 1.5px solid #dbdfd0;
  width: 306px;
  height: 375px;
  gap: 0px;
  opacity: 0px;
  border-radius: 12px;
}
.boxes {
  display: flex;
  gap: 20px;
  padding-top: 20px;
}
.box {
  box-sizing: border-box;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.box img {
  width: 70px;
  text-align: center;
  position: relative;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
}

.box h3 {
  text-decoration: none;
  line-height: 30px;
  font-weight: 700;
  color: #2c2f24;
  position: relative;
  z-index: 99;
  text-align: center;
  margin-top: 90px;
  margin-bottom: 25px;
}
a {
  text-decoration: none;
  padding: 0;
  margin: 0px 0px;
}
.box p {
  margin-left: 20px;
  width: 85%;
  text-align: center;
  color: #414536;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.box button {
  color: #ad343e;
  border: none;
  background: none;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  margin-top: 20px;
  margin-left: 90px;
  cursor: pointer;
}
.box a :hover {
  text-decoration: underline;
  color: #ad343e;
}

.section3 {
  width: 100vw;
  height: 95vh;
  background: #f9f9f7;
  display: flex;
}
.container1 {
  width: 50%;
}
.container1 img {
  width: 40vw;
  padding: 4rem;
  transition: transform 0.2s linear;
}
.container1 img:hover {
  transform: scale(1.1);
}

.container1 .card {
  width: 300px;
  height: 280px;
  background: #474747;
  position: relative;
  top: -300px;
  left: 280px;
  border-radius: 12px;
  padding: 40px;
}

.container1 .card h3 {
  color: white;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 20px;
}

.container1 .card i {
  color: #f9f9f7;
  margin-right: 10px;
  margin-bottom: 30px;
}
.container1 .card span {
  color: #f9f9f7;
  font-size: 12px;
  font-weight: 400;
  cursor: pointer;
}

.loc {
  margin-left: 30px;
}
.container1 .card .fa-location-dot {
  margin-bottom: 0;
}
.container2 {
  width: 50%;
  padding: 4rem;
}
.container2 h2 {
  font-family: "Playfair Display";
  font-size: 55px;
  font-weight: 500;

  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.container2 .para {
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.container2 p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin: 20px 0px;
  width: 95%;
}
.container2 button {
  border: 1.5px solid #2c2f24;
  background: transparent;
  border-radius: 40px;
  padding: 12px 24px 12px 24px;
  margin-right: 2rem;
  cursor: pointer;
  transition: all 0.2s linear;
  margin-top: 20px;
}

.container2 .span :hover {
  background: #ad343e;
  color: #f9f9f7;
}

.section4 {
  width: 100vw;
  height: auto;
  padding: 6rem 0;
}

.section4 h2 {
  font-family: "Playfair Display";
  width: 50%;
  font-size: 55px;
  font-weight: 500;
  line-height: 60.5px;
  text-align: left;
  padding-left: 4rem;
}
.section4 .container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 3rem;
}

.section4 .box1 {
  width: 20%;
}
.section4 .box1 img {
  transition: all 0.2s linear;
}
.section4 .img3 :hover {
  transform: scale(1.1);
}
.section4 .box1 img {
  border-radius: 12px;
  width: 100%;
}
.section4 .box1 h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: -0.03em;
  color: #2c2f24;
  margin: 20px 0px;
  display: inline-block;
  transition: all 0.1s linear;
}
.section4 .box1 p {
  width: 90%;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #414536;
}

.section4 .box1 a :hover {
  text-decoration: underline;
  color: #ad343e;
  text-decoration-color: #ad343e;
}

.section5 {
  width: 100vw;
  height: 100vh;
  background: #f9f9f7;

  display: flex;
}

.section5 .contain1 {
  padding: 6rem;
  display: flex;
  width: 50%;
}
.section5 .contain1 .img1 {
  width: 50%;
  transition: transform 0.2s linear;
}
.section5 .contain1 :hover {
  transform: scale(1.1);
}
.section5 .contain1 .img1 img {
  width: 100%;
}
.section5 .contain1 .img2 {
  width: 50%;
  padding: 20px 40px;
  transition: transform 0.2s linear;
}
.section5 .contain1 .img2 img {
  width: 100%;
  transition: transform 0.2s linear;
}

.imgdown {
  padding: 20px 0px;
  transition: transform 0.2s linear;
}

.section5 .contain2 {
  width: 50%;
}
.section5 .contain2 h2 {
  font-family: "Playfair Display";
  font-size: 55px;
  font-weight: 500;
  line-height: 60.5px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #2c2f24;
  padding-top: 6rem;
  width: 80%;
}
.section5 .contain2 p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #414536;
  padding: 2rem 0px;
  width: 70%;
}
.section5 .contain2 img {
  margin-right: 20px;
  margin-bottom: 30px;
}
.section5 .contain2 span {
  color: #2c2f24;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  position: relative;
  top: -35px;
}
.section6 {
  width: 100vw;
  height: 100vh;
}

.section6 h2 {
  font-family: "Playfair Display";
  font-size: 55px;
  font-weight: 500;
  line-height: 60.5px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #2c2f24;
  padding: 4rem 0rem;
}
.section6 .feedback {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
}
.section6 .fedback {
  background: #f9f9f7;
  width: 400px;
  height: 400px;
}
.section6 .fedback h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: -0.03em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #ad343e;

  padding: 40px 20px;
}
.section6 .fedback p {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #414536;
  padding: 0px 20px;
  padding-bottom: 20px;
}
.per {
  width: 100%;
  display: flex;
}
.section6 .fedback hr {
  width: 80%;
  margin: auto;
  margin-bottom: 30px;
}
.person {
  width: 20%;
  margin-left: 20px;
}
.info {
  width: 80%;
  padding: 15px;
}
.name {
  color: #414536;

  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.section7 {
  width: 100vw;
  height: 160vh;
  background: #f9f9f7;
  margin: auto;
}
.section7 .container {
  width: 100vw;
  padding: 6rem 0rem;
  margin: auto;
}
.heading {
  margin: auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.section7 .heading h2 {
  font-family: "Playfair Display";
  font-size: 55px;
  font-weight: 500;
  line-height: 60.5px;
  text-align: left;
  color: #2c2f24;
}
.heading button {
  border: 1.5px solid #2c2f24;
  background: #ad343e;
  border-radius: 40px;
  padding: 12px 12px 12px 12px;
  margin-right: 2rem;
  cursor: pointer;
  transition: all 0.2s linear;
  color: #f9f9f7;
}

.heading span :hover {
  background: transparent;
  color: #2c2f24;
}
.articles {
  width: 100vw;
  display: flex;
}
.articles .article1 {
  width: 50%;
  padding: 70px 0px 70px 70px;
}

.article1 img {
  width: 100%;
}
.articles .article1 p {
  background: #ffffff;
}

.articles .article1 .para1 {
  color: #737865;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  padding: 20px;
}
.articles .article1 .para2 {
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  text-align: left;
  color: #2c2f24;
  padding-left: 20px;
}
.articles .article2 .img {
  width: 45%;
  height: 45%;
  border-radius: 12px;
  background: #ffffff;
}
.articles .article1 a :hover {
  color: #ad343e;
  text-decoration: underline;
}
.articles .article2 a :hover {
  color: #ad343e;
  text-decoration: underline;
}

.articles .article2 img {
  width: 100%;
  height: 60%;
  border-radius: 12px;
}
.articles .article2 {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 70px 70px 70px 20px;
}

.articlepara1 {
  color: #737865;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  padding: 10px;
}
.articlepara2 {
  color: #2c2f24;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  text-align: left;
  padding: 0px 10px;
  width: 90%;
}
footer {
  width: 100vw;
  height: 80vh;
  background: #474747;
}

.footer {
  width: 90%;
  padding-top: 6rem;
  padding-bottom: 4rem;
  margin: auto;

  display: flex;
  justify-content: space-evenly;
}
.footer1 {
  width: 30%;
}
.footer1 img {
  cursor: pointer;
}
.footer1 p {
  color: #adb29e;
  font-size: 16px;
  line-height: 24px;
  padding: 20px 0px;
}
.socials i {
  color: #ffffff;
  border: none;
  background-color: #ad343e;
  border-radius: 50%;
  padding: 8px;

  cursor: pointer;
  text-align: center;
}
.socials a {
  margin: 5px;
}
.footer2 {
  width: 15%;
}
.footer2 h4 {
  color: #ffffff;
  margin-bottom: 20px;
}
.footer2 li {
  list-style: none;
  padding: 10px 0px;
  color: #dbdfd0;
  cursor: pointer;
}
.footer2 ul :hover {
  color: #ffffff;
}
.footer3 {
  width: 20%;
}
.footer3 h4 {
  color: #ffffff;
  margin-bottom: 20px;
}
.footer3 li {
  list-style: none;
  padding: 10px 0px;
  color: #dbdfd0;
  cursor: pointer;
}
.footer3 ul :hover {
  color: #ffffff;
}
.footer4 {
  width: 30%;
}
.footer4 p {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  color: #ffffff;
  padding-bottom: 10px;
}
.footer4 .pics {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.pics img {
  width: 100%;
  transition: all 0.2s linear;
}
.pics a {
  width: 40%;
}
.pics a :hover {
  transform: scale(1.1);
}
footer hr {
  width: 80%;
  margin: auto;
  border: 1px solid #414536;
}
.copyright {
  background: #474747;
  height: 30%;
}
footer .copy {
  color: #adb29e;
  text-align: center;
  background: #474747;
  padding: 15px;
}

@media screen and (max-width: 764px) {
  body {
    overflow-x: hidden;
  }

  .contact .line1contact {
    margin: 0;
    padding: 0;
    width: 100vw;
    display: inherit;
  }

  .social {
    display: none;
  }
  .logo {
    padding: 0;
    margin: 0;
  }
  .nav {
    width: 100vw;
    height: 4rem;
    padding: 0px 0px;
    margin: 0;
  }
  #hidebtn {
    display: none;
  }
  .nav .logo img {
    padding: 0 20px;
    margin: 0;
    height: 30px;
  }
  .menu {
    display: none;
  }
  .overlay-content .button {
    margin: 10px -10px;
  }
  .button button {
    width: 40vw;
  }
  .nav .buttonnbtn {
    display: none;
  }
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
  .nav span {
    display: inline;
    padding: 0;
    position: absolute;
    top: 57px;
    right: 3px;
  }
  .section1 {
    background-size: 100%;

    background-image: url(assets/section1img.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center left;
    height: 100vh;
    width: 100vw;
  }

  .content {
    width: 100vw;
    height: 100vh;
    position: relative;
    top: 80%;
    margin: 0;
  }
  .content h1 {
    width: 100%;
    line-height: 40px;
    padding: 0;
    margin: 0;
    font-size: 3rem;
  }
  .content p {
    width: 100%;

    line-height: 20px;
    padding: 0;
    margin: 20px 0px;
    font-size: 1rem;
  }
  .content .btns {
    margin: 0;
    width: 100vw;
  }
  .section2 {
    height: 100%;
    margin-bottom: 20px;
  }
  .section2 .box {
    width: 90%;
    margin: auto;
    height: auto;
  }
  .section2 h1 {
    padding: 20px 0px;
  }
  .section2 .boxeses {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .box h3 {
    margin-top: 0px;
  }
  .box button {
    padding-bottom: 20px;
    margin-left: 114px;
  }
  .box p {
    margin: auto;
    width: 90%;
  }
  .box img {
    margin-top: 100px;
  }
  .section3 {
    height: 100%;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
  }
  .section3 .container1 {
    padding-top: 50px;
    margin-top: 0px;
    height: fit-content;
  }
  .section3 .container1 img {
    width: 180%;
    padding: 20px;
    margin: auto;
  }
  .section3 .container2 {
    padding: 10px 20px;
    margin: 0;
    width: 100%;
    height: fit-content;
  }
  .section3 .container2 h2 {
    width: 100%;
    font-size: 2.3rem;
    padding-top: 70px;
    margin: 0;
  }
  .container1 .card {
    width: 300px;
    background: #474747;
    position: relative;
    top: -256px;
    left: 50px;
    border-radius: 12px;
  }
 
  .container1 .card span{
    font-size: 10px;
  }
  .section4 {
    height: 100%;
    padding: 0;
    margin: 0;
  }
  .section4 .container {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .section4 .box1 {
    width: 80vw;
    margin: auto;
    margin-bottom: 30px;
  }
  .section4 .section4h {
    padding: 30px;
    line-height: 35px;
    margin: 0;
    width: 100%;
    font-size: 2rem;
  }

  .section5 {
    height: 100%;
    flex-direction: column-reverse;
    flex-wrap: wrap;
  }
  .section5 .contain1 {
    padding: 20px 30px;
    margin: 0;
  }

  .section5 .contain1 .img1 img {
    width: 50vw;
    padding: 0;
    margin: 0;
  }
  .section5 .contain1 .img2 {
    position: relative;
    left: 150px;
    width: 100%;
    padding: 0px;
    margin: 0;
  }
  .section5 .contain1 .img2 img {
    width: 100px;
  }
  .section5 .contain2 {
    width: 80vw;
    margin: auto;
  }
  .section5 .contain2 h2 {
    padding: 40px 0px 0px 0px;
    margin: 0;
    width: 90vw;
    font-size: 2.3rem;
    line-height: 45px;
  }
  .section5 .contain2 p {
    width: 80vw;
    margin: auto;
  }
  .section6 {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  .section6 h2 {
    margin: 0;
    padding: 40px 0px;
  }
  .section6 .fedback {
    height: 100%;
    width: 80vw;
    margin: auto;
  }
  .section6 .feedback {
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    margin: 20px;
  }

  .section7 {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
  }
  .section7 .container {
    padding: 0;
    margin: 30px 10px;
    width: 100vw;
  }
  .section7 .container .heading {
    padding: 30px 20px;
    margin: 0;

    width: 100%;
  }

  .section7 .container h2 {
    padding: 0;
    margin: 0;
    width: 200px;
    font-size: 2rem;
    line-height: 35px;
  }
  .section7 .container span {
    width: 60%;
  }
  .section7 .container button {
    margin: 0px 0px 0px 40px;
    width: 130px;
  }
  .section7 .container a {
    margin: 0;
  }
  .section7 .articles {
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
  .section7 .articles .article1 {
    width: 95vw;
    margin: 0px;
    padding: 0px 13px;
  }
  .section7 .articles .article2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;
    padding: 10px;
  }
  .section7 .articles .article2 .img {
    width: 90vw;
  }

  footer .footer {
    flex-direction: column;
    flex-wrap: wrap;
    background: #474747;
    width: 100%;
  }
  footer .footer .footer1 {
    width: 100%;
    text-align: center;
  }
  footer .footer .footer1 p {
    width: 90%;
    margin: auto;
  }
  footer .footer .footer2 {
    width: 88vw;
    margin: auto;
  }
  footer .footer .footer2 h4 {
    padding: 0px 0px 0px 10px;
  }
  footer .footer .footer2 li {
    padding: 10px;
  }
  footer .footer .footer3 {
    display: none;
  }
  footer .footer .footer4 {
    display: none;
  }
  footer hr {
    width: 90%;
  }
}
